# Ignore bundler config.
/.bundle
/vendor/bundle
/vendor/ruby
/vendor/cache

# Ignore all logfiles and tempfiles.
/log
/tmp

/node_modules
/yarn-error.log

.byebug_history

/.idea
/.env.*
/public/assets
/coverage