<!-- because of https://github.com/omniauth/omniauth/wiki/Resolving-CVE-2015-9284, we need to do a post to /auth/oktaoauth, so this page will do it seamlessly without being visible to the user -->
<html>
<head>
</head>

<body>
<%= form_tag "/users/auth/oktaoauth", id: "auth_form" do %>
<% end %>

<script>
  document.getElementById("auth_form").submit();
</script>

</body>
</html>
