<!-- because of https://github.com/omniauth/omniauth/wiki/Resolving-CVE-2015-9284, we need to do a post to /auth/oktaoauth, so this page will do it seamlessly without being visible to the user -->
<html>
<head>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script>
    $(function() {
      $("#auth_form").submit();
    });
  </script>
</head>

<body>
<%= form_tag "/users/auth/cas", id: "auth_form" do %>
<% end %>
</body>
</html>
