<!DOCTYPE html>
<html>
<head>
  <title>Preview</title>
  <link rel="stylesheet" href="https://www.cru.org/etc/designs/cru/clientlibs.min.css" type="text/css">
</head>
<body>
<div class="container">
  <%= render 'admin/forms/form', form: @form, preview: true %>
</div>
</body>
</html>